[Desktop Entry]
Name=ImageGrid.Viewer
Comment=Image sorting and editing
Categories=Graphics;Database;Viewer;Photography;
Exec=$LAUNCHER
Icon=
Terminal=false
Type=Application
StartupNotify=true
