[Desktop Entry]
Name=ImageGrid.Viewer
Comment=Image sorting and editing
Categories=Photography;Graphics;Database;Viewer;
Exec=$LAUNCHER
Icon=$ICON
Terminal=false
Type=Application
StartupNotify=true
