/*
* Source: http://projects.lukehaas.me/css-loaders/
*/
.loader:before,
.loader:after,
.loader {
	border-radius: 50%;
	width: 1em;
	height: 1em;

	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}
.loader {
	position: relative;

	color: #ffffff;
	font-size: 8px;
	//margin: 15px auto;
	margin-bottom: 15px;

	text-indent: -9999em;

	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before {
	left: -1.7em;

	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.7em;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 1em 0 -0.6em;
	}
	40% {
		box-shadow: 0 1em 0 0;
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 1em 0 -0.6em;
	}
	40% {
		box-shadow: 0 1em 0 0;
	}
}

