.panel {
	position: absolute;

	display: inline-block;
	min-width: 200px;
	max-width: 450px;

	font-size: 12px;

	border: solid 2px silver;
	border-radius: 4px;

	background: white;
	box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.5);
	opacity: 0.95;

	overflow: visible;

	-webkit-user-select: none; 
	-moz-user-select: none;  
	-ms-user-select: none;  
	-o-user-select: none;
	user-select: none; 
}
.panel summary {
	padding-left: 3px;
	background: silver
}
.panel summary::-webkit-details-marker {
	color: gray;
}
.panel .close-button {
	display: inline-block;
	position: absolute;
	right: 5px;
	cursor: hand;
}
.panel .close-button:hover {
	font-weight: bold;
	color: red;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.panel .panel-content {
	display: block;
	min-height: 30px;
}
.sub-panel,
.panel button,
.panel .state {
	margin: 1px;
	font-size: 11px;
	border: solid 1px #aaa;
	border-radius: 4px;
	/* needed for dragging */
	background: white;
}
.sub-panel {
	display: block;
	margin: 3px;
	border: solid 1px silver;
	box-shadow: none;
}
.sub-panel summary {
	background: #ddd;
	/*
	background: white;
	box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.4);
	*/
}
.sub-panel .sub-panel-content {
	margin: 10px;
}

.panel button:active,
.panel .state:active {
	background: silver;
}

.side-panel {
	position: absolute;
	top: 0px;
	height: 100%;
	bottom: 0px;
	min-width: 10px;

	background: white;
	opacity: 0.95;

	box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.3);

	-webkit-user-select: none; 
	-moz-user-select: none;  
	-ms-user-select: none;  
	-o-user-select: none;
	user-select: none; 
}
.side-panel:not(:empty):hover:after {
	position: absolute;
	display: inline;
	content: "Double click to toggle auto-hide (now: " attr(autohide) ")";
	font-size: 10px;
	color: gray;
	margin: 5px;
	bottom: 0px;
	opacity: 0.5;
}
.side-panel:not(:empty)[autohide=off],
.side-panel[autohide=on]:not(:empty):hover {
	min-width: 200px;
}
.side-panel.left {
	left: 0px;
	border-right: solid 1px silver;
}
.side-panel.right {
	right: 0px;
	border-left: solid 1px silver;
}

.side-panel[autohide=on] .sub-panel {
	display: none;
}
.side-panel[autohide=on]:hover .sub-panel {
	display: block;
}


/* main controls */
.sub-panel .control {
	white-space:nowrap;
}
.sub-panel .control .title {
	display: inline-block;
	width: 60px;
	cursor: move;
}
.sub-panel .control .slider {
	-webkit-appearance: none !important;
	width: 150px;
	height: 3px;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: white;
}
.sub-panel .control.at-default .slider {
}
.sub-panel .control .slider::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	height: 13px;
	width: 13px;
	/*border: solid 1px gray;*/
	border: solid 2px #aaa;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
}
.sub-panel .control.at-default .slider::-webkit-slider-thumb {
	opacity: 0.5;
}
.sub-panel .control .value {
	-webkit-appearance: none !important;
	display: inline-block;
	width: 25px;
	text-align: right;
	font-size: 11px;
	margin-left: 5px;
	margin-right: 5px;
	border: none;
	border-radius: 2px;
	background: transparent;
}
.sub-panel .control input::-webkit-outer-spin-button,
.sub-panel .control input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
}
.sub-panel .control .reset {
	visibility: hidden;
	border: solid 1px transparent;
}
.sub-panel .control:hover button.reset {
	visibility: visible;
}
.sub-panel .control .reset:hover {
	border: solid 1px silver;
}


/* Snapshots */
.sub-panel .state {
	display: inline-block;
	margin: 1px;
	padding-left: 5px;
	padding-right: 5px;
}
.sub-panel .state.ui-draggable-dragging {
	box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.4);
}
.sub-panel .states {
	min-height: 30px;
}


/* misc */
.sub-panel hr {
	border: none;
	border-top: solid 1px silver;
}



/* dark theme */
.dark .panel {
	border: solid 2px #333;
	background: black;
	color: silver;
	box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.5);
}
.dark .panel summary {
	background: #333;
}
.dark .panel summary::-webkit-details-marker {
	color: #555;
}
.dark .sub-panel button,
.dark .sub-panel .state,
.dark .sub-panel {
	border: solid 1px #333;
	/* needed for dragging */
	background: #080808;
	color: #888;
}
.dark .sub-panel {
	border: solid 1px #333;
}
.dark .sub-panel summary {
	background: #333;
	color: silver;
}
.dark .sub-panel .state:active,
.dark .sub-panel button:active {
	background: #222;
}
.dark .sub-panel .control .slider {
	border: solid 1px #555;
	background: black;
}
.dark .sub-panel .control.at-default .slider {
}
.dark .sub-panel .control .slider::-webkit-slider-thumb {
	border: solid 2px #aaa;
	background: black;
	box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
}
.dark .sub-panel .control.at-default .slider::-webkit-slider-thumb {
	border: solid 1px gray;
	opacity: 0.5;
}
.dark .sub-panel .control .value {
	border: none;
	background: transparent;
	color: gray;
}
.dark .sub-panel .control .reset:hover {
	border: solid 1px #333;
}
.dark .sub-panel hr {
	border: none;
	border-top: solid 1px #333;
}
.dark .side-panel {
	background: black;
	box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.5);
}
.dark .side-panel:not(:empty):hover:after {
	color: gray;
}
.dark .side-panel.left {
	border-right: solid 1px #333;
}
.dark .side-panel.right {
	border-left: solid 1px #333;
}




/* gray theme */

.gray .panel {
	border: solid 2px #444;
	background: #333;
	color: silver;
	box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.5);
}
.gray .panel summary {
	background: #444;
}
.gray .panel summary::-webkit-details-marker {
	color: #555;
}
.gray .sub-panel button,
.gray .sub-panel .state,
.gray .sub-panel {
	border: solid 1px #444;
	/* needed for dragging */
	background: #333;
	color: #888;
}
.gray .sub-panel {
	border: solid 1px #454545;
}
.gray .sub-panel summary {
	background: #444;
	color: silver;
}
.gray .sub-panel .state:active,
.gray .sub-panel button:active {
	background: #444;
}
.gray .sub-panel .control .slider {
	border: solid 1px #555;
	background: #222;
}
.gray .sub-panel .control.at-default .slider {
}
.gray .sub-panel .control .slider::-webkit-slider-thumb {
	border: solid 2px #aaa;
	background: #333;
}
.gray .sub-panel .control.at-default .slider::-webkit-slider-thumb {
	border: solid 1px gray;
	opacity: 0.5;
}
.gray .sub-panel .control .value {
	border: none;
	background: transparent;
	color: gray;
}
.gray .sub-panel .control .reset:hover {
	border: solid 1px #444;
}
.gray .sub-panel hr {
	border: none;
	border-top: solid 1px #444;
}
.gray .side-panel {
	background: #333;
	box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.5);
}
.gray .side-panel:not(:empty):hover:after {
	color: silver;
}
.gray .side-panel.left {
	border-right: solid 1px #444;
}
.gray .side-panel.right {
	border-left: solid 1px #444;
}

