.animated {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;	
	transition: all 0.2s ease;
}

.unanimated {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: all 0 ease;
	-ms-transition: none;	
	transition: none;
}


.image {
	float: left;

	width: 350px;
	height: 350px;

	background: no-repeat 50% black;
	background-size: contain;

	opacity: 0.3;

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;	
	transition: all 0.2s ease;

	cursor: hand;
}


.mock-image {
	background: blue;
}


.demo-buttons {
	margin: 15px
	border: groove 2px;
	
	opacity: 0.2;

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;	
	transition: all 0.2s ease;
}


.demo-buttons:hover {
	opacity: 1;
}


.viewer {
	width: 900px;
	height: 500px;
	border: solid blue 5px;
	margin: 20px; 
}


.controller {
	height: 500px;
	width: 50px;
	float: left;
	background: silver;

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;	
	transition: all 0.2s ease;
}


.screen-button {
	text-align: center;
	width: 100%;
	height: 125px; 

	color: white;

	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.next-image, .prev-image, .toggle-wide, .toggle-single, .zoom-in, .settings, .toggle-wide {
}


.toggle-single, .zoom-in {
	border-top: solid white 1px;
	height: 50px;
}

.toggle-single, .fit-three, .zoom-in, .zoom-out {
	height: 50px;
}


.settings, .toggle-wide {
	height: 25px;
}

.promote {
}


.next-image {
}


.prev-image {
}


.demote {
}


.toggle-wide {
}


.toggle-single {
}


.zoom-in {
}


.zoom-out {
}




.container {
	position: relative;
	overflow: hidden;

	float: left;
	width: 800px;
	height: 500px;

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;	
	transition: all 0.2s ease;
}


.field {
	position: relative;
	overflow: visible;
	top: 0px;
	left: 0px;
	margin-top: 0px;

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;	
	transition: all 0.2s ease;
}


.ribbon {
	height: 360px;
	/* XXX make this expand dynamically */
	width: 100000px;
	overflow: visible;
	padding-top: 2px;
	padding-bottom: 2px;
	opacity: 0.5;

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;	
	transition: all 0.2s ease;

}


.new-ribbon {
	height: 0px;

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;	
	transition: all 0.2s ease;
}


.current.image {
	opacity: 1.0;
}


.current.ribbon {
	opacity: 1.0;

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;	
	transition: all 0.2s ease;
}


.current.ribbon .image {
}


