
.h-marker {
	position: absolute;
	border-top: solid blue 1px;
	height: 0px;
	width: 100%;
	top: 50%;
	left: 0px;
	display: none;
}

.v-marker {
	position: absolute;
	border-left: solid blue 1px;
	height: 100%;
	width: 0px;
	top: 0px;
	left: 50%;
	display: none;
}

