/* single image theme (start everything with .single-image-mode) 
 */
.single-image-mode.viewer {
	background: black;
}


.single-image-mode .controller {
	opacity: 0.5;
	background: black;
}


.single-image-mode .screen-button {
}


.single-image-mode .image {
	opacity: 0.0;
}


.single-image-mode .image:hover {
}


.single-image-mode .ribbon {
}


.single-image-mode .current.image:hover, .single-image-mode .current.image {
	opacity: 1.0;
}


/* disabled animations */
.single-image-mode.no-single-image-transitions .image, .single-image-mode.no-single-image-transitions .ribbon {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: all 0 ease;
	-ms-transition: none;	
	transition: none;
}

/* white background */
.single-image-mode.single-image-white-bg.viewer, .single-image-mode.single-image-white-bg .controller {
	background: white;
}


.single-image-mode.single-image-white-bg .screen-button {
	color: gray;
}


.single-image-mode.single-image-white-bg .image {
	background-color: white;
}

.single-image-mode.single-image-white-bg .toggle-single, .single-image-mode.single-image-white-bg .zoom-in {
	border-top: solid gray 1px;
}



