/* single image theme (start everything with .single-image-mode) 
 */
.single-image-mode.viewer {
}


.single-image-mode .controller, .single-image-mode .controller-mini {
	opacity: 0.2;
}


.single-image-mode .screen-button {
}


.single-image-mode .image {
	opacity: 0.0;
	background-color: transparent;
}


.single-image-mode .image:hover {
}


.single-image-mode .ribbon {
}


.single-image-mode .current.image:hover, .single-image-mode .current.image {
	opacity: 1.0;
}


/* disabled animations */
.single-image-mode.no-single-image-transitions .image, .single-image-mode.no-single-image-transitions .ribbon {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: all 0 ease;
	-ms-transition: none;	
	transition: none;
}

