/* single image theme (start everything with .single-image-mode) 
 */
.single-image-mode.viewer {
	background: black;
}


.single-image-mode .controller {
	opacity: 0.5;
	background: black;
}


.single-image-mode .screen-button {
}


.single-image-mode .image {
	opacity: 0.0;
}


.single-image-mode .image:hover {
}


.single-image-mode .ribbon {
}


.single-image-mode .current.image:hover, .single-image-mode .current.image {
	opacity: 1.0;
}

