.animated,
/* mostly to animate the background... */
.transitions-enabled.viewer,
/* now the normal stuff */
.transitions-enabled .image, 
.transitions-enabled .demo-buttons,
.transitions-enabled .controller,
.transitions-enabled .controller-mini,
.transitions-enabled .current-indicator,
.transitions-enabled .container,
.transitions-enabled .field,
.transitions-enabled .ribbon, 
.transitions-enabled .new-ribbon,
.transitions-enabled .current.ribbon {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;	
	transition: all 0.2s ease;
}


.unanimated {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: all 0 ease;
	-ms-transition: none;	
	transition: none;
}

